<div class="container-fluid home-main">
        <h2 class="verification">Email Verification<span class="blinker">.</span></h2>
        <h3 class="desc">A Email is sent to the Email You Registered with, Verify The Email to Login<span class="lead">.</span></h3>
		<button type="button" class="btn btn-default login" (click)="login()"> Login </button>
	</div>
	<div class="container-fluid home-content1">
		<div class="row">
			<div class="col-md-6 content1-left">
				<h3>Why to use Contacts <span class="blinker">?</span></h3>
			</div>
			<div class="col-md-6 content1-right">
				<p>Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>
			</div>
		</div>
	</div>
